/* @font-face {
  font-family: "AppleSDGothicNeoB";
  src: url("./fonts/AppleSDGothicNeo/AppleSDGothicNeoB.woff") format("woff");
}

@font-face {
  font-family: "AppleSDGothicNeoR";
  src: url("./fonts/AppleSDGothicNeo/AppleSDGothicNeoR.woff") format("woff");
}

@font-face {
  font-family: "AppleSDGothicNeoM";
  src: url("./fonts/AppleSDGothicNeo/AppleSDGothicNeoM.woff") format("woff");
}
import A */
html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  /* font-family: AppleSDGothicNeoB; */
}

::-webkit-scrollbar {
  width: 10px;
  border: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c4c4c4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f3f3f3;
}

/* Handle on Hover  */
/* ::-webkit-scrollbar-track:hover {
  background: #f3f3f3;
} */

.hrSection {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  font-size: 12px;
  margin: 8px 0px;
}
.hrSection::before {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px 0px 0px;
}

.hrSection::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 0px 0px 16px;
}
